name: Build and upload Conda package

on:
  push:
    branches:
      - main

jobs:
  conda_build:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd /C call {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: true
          channels: conda-forge
          python-version: 3.11
      - name: Setup base environment
        run: |
          conda install anaconda-client conda-build=24.5.1 conda-verify python-libarchive-c libarchive
      - name: Build Windows package
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda config --set anaconda_upload yes && conda build recipes\muscle --output-folder build_output --croot C:\bld --debug --user biowindows --label main
